# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.docker
.env.prod
.env.monitoring

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfplan

!*.tfvars.example