aws_region         = "il-central-1"
aws_profile        = "task-manager-terraform"
project_name       = "task-manager"
environment        = "production"
db_name            = "DATABASE_NAME"
db_master_username = "MASTER_USERNAME"
